.camper {
}

.camperName {
  color: #101828;

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.headerDown {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-top: 8px;
}

.reviewBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.reviewStar {
  width: 16px;
  height: 16px;
}

.reviewText {
  color: #101828;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.locationBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.locationIcon {
  width: 16px;
  height: 16px;
}

.locationText {
  color: #101828;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.camperPrice {
  color: #101828;

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;

  margin-top: 16px;
}

.camperImg {
  margin-top: 28px;
  flex-wrap: wrap;
  display: flex;
  gap: 48px;
  align-content: space-between;
}

.image {
  width: 292px;
  height: 312px;

  object-fit: cover;

  border-radius: 10px;
}

.camperText {
  color: #475467;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 28px;
  width: 1312px;
}
