.block {
  width: 641px;
  height: 588px;
  margin-top: 44px;
  border-radius: 10px;
  border: 1px solid #dadde1;
  padding: 44px;
}

.sendButton {
  margin: 24px auto 0 auto;
}

.bookHeader {
  color: #101828;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.bookP {
  color: #6c717b;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  margin-top: 8px;
}

.name {
  display: flex;
  width: 527px;
  height: 60px;
  padding: 18px 337px 18px 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: #f7f7f7;
  color: #6c717b;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
  outline: none;
  border: none;
}

.input {
  display: flex;
  width: 527px;
  height: 60px;
  padding: 18px 337px 18px 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: #f7f7f7;
  color: #6c717b;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 14px;
  outline: none;
  border: none;
}

.textarea {
  display: flex;
  width: 527px;
  height: 118px;
  padding: 18px 337px 18px 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: #f7f7f7;
  color: #6c717b;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 14px;
  outline: none;
  border: none;
}
